.container {
  width: 90%;
  margin: 0 auto;
}

.section-container {
  padding: 3em 0;
}

.section-heading {
  text-align: center;
  margin-bottom: 22px;
}

.section-heading > p {
  color: #6f7078;
  font-weight: 400;
  margin: 10px 0;
}

.box-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.2em;
}

.box-container .box {
  background-color: #fefffe;
  border-radius: 14px;
  padding: 1em;
  box-shadow: #00000005 0px 1px 3px 0px, #1b1f2326 0px 0px 0px 1px;
}

.box-container .box .box-description {
  margin: 10px 0;
  font-weight: 400;
  color: #6f7078;
}

.iconify-icon {
  font-size: 26px;
}

.section-icon {
  font-size: 36px;
}

.btn {
  display: inline-block;
  border: 2px solid #222222;
  color: #222222;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  line-height: 20px;
  padding: 13px 23px;
  transition: all 0.236s ease-in-out;
}

.btn:hover {
  border: 2px solid var(--focus-color);
}

label {
  cursor: pointer;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 80%;
  }
}
