#contact {
  background-color: var(--pastel-grey);
}

.contact-list-container {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

.contact-list-container li {
  display: flex;
  align-items: center;
  gap: 0px 8px;
}

#contact .box-container .contact-form-container,
#contact .box-container .contact-form-container .name-email-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.8em;
}

#contact .box-container .contact-list-container,
#contact .box-container .contact-form-container {
  flex: 1;
}

#contact .box-container .contact-form-container input[type="text"],
input[type="email"],
textarea {
  border: 1px solid #222222;
  padding: 6px 12px;
  border-radius: 6px;
  outline: 2px solid transparent;
}

#contact .box-container .contact-form-container input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: 2px solid #222222;
}

@media screen and (min-width: 768px) {
  #contact .box-container {
    flex-direction: row;
    column-gap: 1.2em;
  }

  #contact .box-container .contact-form-container .name-email-container {
    display: flex;
    flex-direction: row;
    column-gap: 0.8em;
    flex-wrap: wrap;
  }

  #contact .box-container .contact-list-container,
  #contact .box-container .contact-form-container {
    flex: 1;
  }

  #contact .box-container .contact-form-container .name-email-container input {
    flex: 1;
  }
}
