#doctor .container .box-container .box .doctor-sub-title {
  margin-top: 10px;
  color: #6f7078;
}

.cta-btn {
  margin-top: 22px;
  text-align: center;
}

.cta-btn .btn {
  background-color: var(--black);
  color: var(--white);
  outline: 10px solid transparent;
  transition: outline 0.236s ease-in-out;
}

.cta-btn .btn:hover {
  outline: 2px solid var(--pastel-red);
}

/* media queries for tab */
@media screen and (min-width: 768px) {
  #doctor .box-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2em;
  }

  .box-container .box {
    flex-basis: 48%;
  }
}

/* media queries for laptop & large screens */
@media screen and (min-width: 1024px) {
  .box-container {
    justify-content: center;
  }

  .box-container .box {
    flex-basis: 30%;
  }
}
