header {
  backdrop-filter: blur(60px);
  padding: 1em 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar nav ul {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: -100%;
  width: 40vw;
  height: 100vh;
  padding: 1.5em;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  z-index: 999;
  transition: all 0.236s ease-in-out;
}

.navbar nav ul.showMenus {
  left: 0%;
}

nav ul .mobile-hide {
  margin-bottom: 1.3em;
}

nav ul li a {
  font-weight: 500;
  font-size: 18px;
  transition: all 0.236s ease-in-out;
}

nav ul li a:hover {
  color: var(--focus-color);
}

.active-link {
  color: var(--focus-color);
}

/* media queries */

@media screen and (min-width: 768px) {
  .mobile-show {
    display: none;
  }

  .navbar nav ul .mobile-hide {
    display: none;
  }
  .navbar nav ul {
    transform: translateX(0);
    opacity: 1;
    background-color: inherit;
    position: unset;
    height: unset;
    text-align: unset;
    padding: 0em;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 2em;
    flex: 1;
  }
}
