@media screen and (min-width: 768px) {
  #services .box-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2em;
  }
  #services .box-container .img-box{
    flex-basis: 45%;
  }
}

/* media queries for laptop & large screens */
@media screen and (min-width: 1024px) {
  #services .box-container .img-box{
    flex-basis: 30%;
  }
}
