.service-box-container {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.service-box-container .box-container:nth-child(even) {
  background-color: var(--pastel-grey);
  color: var(--black);
  padding: 10px;
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .service-box-container .box-container {
    flex-direction: row;
    gap: 1.2em;
  }

  .service-box-container .box-container .box-text {
    flex: 1;
  }

  .service-box-container .box-container .img-box {
    flex-basis: 30%;
  }

  .service-box-container .box-container:nth-child(even) .box-text {
    order: 1;
  }
}
